.dart_tool/
.packages
.pub-cache/
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
.env
